.benefits {
  margin: 0 auto;
  max-width: 1380px;

  &__pricing {
    margin-bottom: 156px;

    @media (max-width: 1024px) {
      margin-bottom: 56px;
    }
  }

  &__main {
    margin-bottom: 128px;

    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
}
